<br>

<!--jumbotron-->
   <div class="jumbotron">
    
    <div class="container text-center"><!--open container-->
      <h1>ADAVICITY Inc.</h1>
      <p>Engineering and Business Systems Solutions for the 21st Century</p>  
    </div><!--close container-->

  </div>
<!--close jumbotron-->

<!-- Modal(1)-->
<div class="modal fade" id="service_configuration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria- hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel">Configuration</h4>
      </div>
        <div class="modal-body">
             <p>.......</p>
        </div>
    </div>
  </div>
</div>
<!-- end MODAL(1) -->

<!-- Modal(2) -->
<div class="modal fade" id="service_management" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Configuartion Management</h4>
      </div>
            <div class="modal-body">
             <p>Configuration Management is the core of software development. Source Code Control in turn is the core of CM. Defect and Enhancement Tracking lives along side SCC as the muscularture that gives definition to a software project. These CM systems provide the framework for communication among Developers, Project Managers, Architects, Business Analysts, Quality Assurance professionals and others in the development team.  Adavicity is at the forefront of CM, using the latest CMMI, DevOps and Agile methodologies. We can provide key staff or an entire team to get your project up and running, staff an existing project or provide a rescue team to get your project back on track, within budget and on time.</p>
          </div>
    </div>
  </div>
</div>
<!--end Modal(2)-->

<!-- Modal(3) -->
<div class="modal fade" id="service_operations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Operations</h4>
      </div>
        <div class="modal-body">
          <p>We support your day-to-day operation by providing monitoring, training, analysis and on-call troubleshooting. Adavicity understands 99.9% uptime and disaster recovery, because reliability & reponse is how you build your business.</p>
        </div>
    </div>
  </div>
</div>
<!--end Modal(3)-->

<!-- Modal(4) -->
<div class="modal fade" id="service_network" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Network</h4>
      </div>
        <div class="modal-body">
          <p>With years of experience in communications and networking, Adavicity has the capacity to design, install, troubleshoot and monitor diverse LANs and WANs comprised of routers, firewalls, gateways, hubs, storage and other network devices. We can divide address space and hide important servers behind NAT-protected subnetworks.</p>
        </div>
    </div>
  </div>
</div>
<!--end Modal(4)-->

<!-- Modal(5) -->
<div class="modal fade" id="service_migration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deployment</h4>
       </div>
         <div class="modal-body">
          <p>Adavicity deployment teams live in the repeatability space of DevOps, with virtualized server methods and cloud-friendly practices as well as legacy physical server farm management. Whether it be one or hundreds of servers, Adavicity can effect and automated reliable deployment or upgrade path.</p>
        </div>
    </div>
  </div>
</div>
<!--end Modal(5)-->

<!--Modal(6)-->
<div class="modal fade" id="service_deployment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deployment</h4>
      </div>
        <div class="modal-body">
          <p>Adavicity deployment teams live in the repeatability space of DevOps, with virtualized server methods and cloud-friendly practices as well as legacy physical server farm management. Whether it be one or hundreds of servers, Adavicity can effect and automated reliable deployment or upgrade path.</p>
        </div>
    </div>
  </div>
</div>
<!--end Modal(6)-->

<!--Modal(7) -->
<div class="modal fade" id="service_database" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Database</h4>
      </div>
        <div class="modal-body">
          <p>A well-designed database allows consistent and useful information to be accessed in a quick and efficient manor. Structured Query Language (SQL) provides automatic navigation to the data through a series of statements. These statements not only select, insert, delete and update data, but also guarantee consistency and integrity. Most importantly a well-maintained  database bolsters efficiency and reduces costs. 
          </p>
        </div>
    </div>
  </div>
</div>
<!--end Modal(7)-->

<!-- Modal(8) -->
<div class="modal fade" id="service_dbwh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Database Wharehousing</h4>
      </div>
        <div class="modal-body">
          <p>Integrated data from various sources is kept in what acts as a central repositories. Once this data is collected and stored, it can be used to create analytical reports. These reports then become vital understanding large bodies of data. DBW is industry best practice for making support queries easier to write. 
         </p>
        </div>
    </div>
  </div>
</div>
<!--end Modal(8)-->

<!-- Modal(9) -->
<div class="modal fade" id="service_uxui" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">User Experience/ Interface</h4>
      </div>
        <div class="modal-body">
          <p>User Experiene design is not defined by making something look good, rather with how that design feels. Determining a specific method from an array approaches in order to solve a users problem is the basis of UX design. By clearly identfying the best verbal and non verbal solutions to ensure an uniterupted flow of a products use is the best possible user experience. </p>

          <p>A successful User Interface is laid out to ensure proper navigation according to how the User Experience has been dictated. Not only is a cohesive look necessary, but so is the proper use of placement, margins and alignment. Just as crucial is the designers use of transitions, buttons and modals. Defining behavior and consistency is vital to our front-end production. </p>
        </div>
    </div>
  </div>
</div>
<!--end Modal(9)-->

<!-- Modal(10) -->
<div class="modal fade" id="service_webdev" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Web Development</h4>
      </div>
        <div class="modal-body">
          <p>Web Development consists of front-end and back-end development. Where as front-end consists of how a product appears on a screen, back-end handles the programing and interaction with users. HTML and CSS structure the visual design, languages like PHP, SQL, and RUBY hold databases and web forms. 
          </p>
        </div>
    </div>
  </div>
</div>
<!--end Modal(10)-->

<!-- Modal(11) -->
<div class="modal fade" id="service_education" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Education</h4>
      </div>
        <div class="modal-body">
          <p>Adavicity has served the student and business community by providing technical instruction at the executive summary, working professional and information systems student levels concerning topics ranging the gamut from correct IT practices to coding.
          </p>
        </div>
    </div>
  </div>
</div>
<!-- end Modal(11) -->

<!-- Modal(12) -->
<div class="modal fade" id="service_literature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Literature</h4>
      </div>
        <div class="modal-body">
          <p>.......</p>
        </div>
    </div>
  </div>
</div>
<!-- end Modal(12)-->

<!-- Services Grid -->
    <div class="container">
      <section>
          <div class="page-header" id="services">
            <h2>SERVICES</h2><small>Our Services</small>
          </div>

          <div class="row">
          <%@image_names.each do |i|%>
            <%= render 'image_box', image_name: i %>
          <%end%>

      </section>
    </div><!--end container-->
<!--end services-->

<!--Clients-->
  <div class="container">
        <section>
          <div class="page-header" id="clients">
            <h2>CLIENTS</h2><small>Our Clients</small>
          </div>

          <div class="row">
          <%= image_tag "clients_lg.png", :class => "lg" %>
          <%= image_tag "clients_sm.png", :class => "sm" %>
          

        </section>
  </div><!--end of container-->
<!--end Clients-->

<!--Staff-->
    <div class="container">
      <section>
        <div class="page-header" id="staff">
          <h2>STAFF</h2><small>Experience & Skills</small>
        </div><!--end of page header-->

        <div class="panel-group" id="accordian">
          <div class="pannel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-13" data-toggle="collapse">Pasquale Argenio</a>
                  </div><!--end panel title-->
                  <div id="collapse-13" class="panel-collapse collapse">
                    <div class ="pannel-body">
                     <ul>
                       <li>IT Design, Development, Configuration, Automation, Data and Operations</li>
                        <li>Fluent in ITIL, CMMI, Agile, SDLC, DevOps and others (15-30 yrs &amp; instructor)</li>
                        <li>ETL, data management/warehouse, DBA/DBE, SQL, Administration, Reports (20+ yrs)</li>
                        <li>Distributed, client-server, multi-tasking, scripting and networking (25 yrs)</li>
                        <li>Transaction processing and mission-critical environments (25 yrs)</li>
                        <li>Systems Administration Linux/Windows/Web, deployment and configuration (15 yrs)</li>
                        <li>More than 20 years experience in Configuration Management</li>
                        <li>Experience in embedded and process control application</li>
                      </ul>
                    </div>
              </div><!--end panel collapse-->
            </div>
          </div>
        </div><!--end container-->

        <div class="panel-group" id="accordian">
          <div class="pannel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-14" data-toggle="collapse">Lauren Argenio</a>
                  </div><!--end panel title-->
                  <div id="collapse-14" class="panel-collapse collapse">
                    <div class ="pannel-body">
                     <ul>
                       <li>Create database implementation plans and support throughout environments</li>
                        <li>Create SQL scripts and maintain tables in Oracle database for requests/responses</li>
                        <li>Develop web services to consume data and send to mortgage applications (SOAP, XML, WSDL, XML schemas).</li>
                        <li>Design external flexible “properties” to effect move from code to database</li>
                        <li>Configure, manage and deploy code onto Apache and Tomcat servers</li>
                        <li>Support/enhance mortgage origination Java middleware in multiple environments</li>
                      </ul>
                    </div>
              </div><!--end panel collapse-->
            </div>
          </div>
        </div><!--end container-->

         <div class="panel-group" id="accordian">
          <div class="pannel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-15" data-toggle="collapse">William Bock</a>
                  </div><!--end panel title-->
                  <div id="collapse-15" class="panel-collapse collapse">
                    <div class ="pannel-body">
                     <ul>
                        <li>SDLC including design, development, integration, testing, installation, maintenance and production support.</li>
                        <li>Operating systems: UNIX (Linux/Solaris/HP-UX/V5), Stratus VOS, MS-DOS</li>
                        <li>Programming Languages: C/C++, Shell(Korn,Bourne,C), HTML, JAVASCIRPT, RDBMS: MySql, Interbase, Oracle, TERADATA, INFORMIX</li>
                      </ul>
                    </div>
              </div><!--end panel collapse-->
            </div>
          </div>
        </div><!--end container-->

        <div class="panel-group" id="accordian">
          <div class="pannel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-16" data-toggle="collapse">George Lang</a>
                  </div><!--end panel title-->
                  <div id="collapse-16" class="panel-collapse collapse">
                    <div class ="pannel-body">
                     <ul>
                        <li>Programming Languages: C#, C++, C, Flex (ActionScript/MXML), Perl, SQL, XML, HTML, PHP, JavaScript, PL/1, Pascal, COBOL, DSM</li>
                        <li>Databases:MS SQL Server, Oracle, Sybase, MySQL</li>
                      </ul>
                    </div>
              </div><!--end panel collapse-->
            </div>
          </div>
        </div><!--end container-->

        <div class="panel-group" id="accordian">
          <div class="pannel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-17" data-toggle="collapse">Matthew Emmerich</a>
                  </div><!--end panel title-->
                  <div id="collapse-17" class="panel-collapse collapse">
                    <div class ="pannel-body">
                     <ul>
                        <li>Programing Languages: html, css, Javascript, jQuery, Ruby on Rails</li>
                        <li>Profesional Skills: Web Developement, Graphic Design, Videography</li>
                      </ul>
                    </div>
              </div><!--end panel collapse-->
            </div>
          </div>
        </div><!--end container-->

        </section>
    </div><!--end container-->

<!--end Resumes-->

<!--Gallery-->
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
         <%= image_tag "001.png" %>
        <div class="carousel-caption">
          <h3>Train Traffic Control System</h3>
        </div>
      </div>

      <div class="item">
         <%= image_tag "002.png" %>
        <div class="carousel-caption">
          <h3>Train Traffic Control System</h3>
        </div>
      </div>

       <div class="item">
         <%= image_tag "003.png" %>
        <div class="carousel-caption">
          <h3>Train Traffic Control System</h3>
        </div>
      </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



</div> <!-- end of container-->
<!--end Gallery-->

<!--FEEDBACK-->
  <div class="container">
      <section>
          <div class="page-header" id="feedback">
            <h2>FEEDBACK</h2><small> Check out our Feedback</small>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <blockquote>
                <p>During Pasquale's tenure at the PHLX I had the opportunity to work closely with him on many critical projects. I found him to be detail oriented and a hard worker who always saw a project through to a sucessful conclusion.</p>
                <footer>Bernie Donnelly, 
                VP Quality Assurance at Philadelphia Stock Exchange</footer>
              </blockquote>
            </div>

            <div class="col-lg-4">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <footer>John Doe</footer>
              </blockquote>
            </div>

            <div class="col-lg-4">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <footer>John Doe</footer>
              </blockquote>
            </div>
          </div><!--End Row-->
        </section>
      </div><!--End Container-->

      </section>
  </div><!--End Container-->

  <!--FAQ-->
    <div class="container">
      <section>
        <div class="page-header" id="faq">
          <h2>FAQ</h2><small>Frequently Asked Questions</small>
        </div><!--end of page header-->

        <div class="panel-group" id="accordian">
          <div class="pannel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-18" data-toggle="collapse" data-parent="#accordian">  What is Adavicitys work capacity?
                </a>
                  </div><!--end panel title-->
                  <div id="collapse-18" class="panel-collapse collapse">
                    <div class ="pannel-body">
                    Adavicity works in a range of high and low volume projects. We maintain a pipeline of trained IT professionals in order to ensure spare capacity. 
                </div>
              </div><!--end panel collapse-->
            </div>
          </div>
        </div><!--end container-->


        <div class="panel-group" id="accordian">
          <div class="pannel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-19" data-toggle="collapse" data-parent="#accordian">   What level of techinical knowledge should a customer of Adavicity have?
                </a>
                  </div><!--end panel title-->
                  <div id="collapse-19" class="panel-collapse collapse">
                    <div class ="pannel-body">
                    A general knowledge of IT, databases and developement is helpful in establishing common goals and strategies for our customers, but not necessary. User oriented design can be executed providing options to fit customers needs.
                </div>
              </div><!--end panel collapse-->
            </div>
          </div>
        </div><!--end container-->

        <div class="panel-group" id="accordian">
          <div class="pannel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-20" data-toggle="collapse" data-parent="#accordian">   Ques`?
                </a>
                  </div><!--end panel title-->
                  <div id="collapse-20" class="panel-collapse collapse">
                    <div class ="pannel-body">
                    Lorem ipsum dolor sit amet, option salutatus pro no, ea usu quod munere labores. Eos an essent instructior, cu error facete audire mel, cu duo feugait argumentum complectitur. Eos in lobortis inimicus aliquando. Has meis populo et.
                </div>
              </div><!--end panel collapse-->
            </div>
          </div>
        </div><!--end container-->

      </section>
    </div><!--end container-->
<!--end of FAQ-->

<!--Contact-->

    <div class="container">
      <section>
        <div class="page-header" id="contact">
          <h2>CONTACT</h2><small>Say hi</small>
        </div><!--end of page header-->

        <div class="row">
          <div class="col-lg-4">
            <p>Send us a message, or contact us from the address below</p>

            <address>
              <strong>ADAVICITY</strong></br>
              1015 Stanford Dr</br>
              Wynnewood, Pa</br>
              (610) 608-7567
              </address>
          </div>

          <div class="col-lg-8">
            <form action="" class="form-horizontal">
              

              <div class="form-group">
                <label for="user-name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="user-name" placeholder="Enter your name">
                </div>
              </div><!--end form group-->
            
              <div class="form-group">
                <label for="user-email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="user-email" placeholder="Enter your Email Address">
                </div>
              </div><!--end form group-->

              <div class="form-group">
                <label for="user-url" class="col-lg-2 control-label">Your Website</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="user-name" placeholder="If you have any">
                </div>
              </div><!--end form group-->

              <div class="form-group">
                <label for="user-message" class="col-lg-2 control-label">Message</label>
                <div class="col-lg-10">
                  <textarea name="user-message" id="user-message" class="form-control"  cols="20" rows="10" placeholder="Enter you Message"></textarea>
                </div>
              </div><!--end form group-->

              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>

            </form>
          </div>
        </div><!--end row-->


        </section>
    </div><!--end container-->
<!--end of Contact-->
    
    <!--call to action-->
    <section>
      <div class="well">
        <div class="container text-center">
            <h3>Subscribe to our email list</h3>
            <p>Enter you name and email</p>

            <form action="" class="form-inline">
              <div class="form-group">
                <label for="subscription">Subscribe</label>
                <input type="text" class="form-control" id="subscription" placeholder="Your name">
              </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control" id="subscription" placeholder="Enter your email">
              </div>
              <button type="submit" class="btn btn-warning">Subscribe</button>
              <hr>
            </form>
        </div><!--End Container-->
      </div><!--end well-->
    </section><!--call to action-->